body {
    min-height: 100vh;
    background: hsl(257, 40%, 49%) url(../images/bg-desktop.svg) center no-repeat;
    background-size: cover;
}

.logo {
    display: flex;
    padding: 40px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #FFFFFF;
    flex-wrap: wrap;
    
}

.imagem{
    max-width: 50%;
    padding-top: 20px;
    display: flex;
}

.mockups{
    max-width: 100%;
    
}

.texto h1{
    font-family: "Poppins", sans-serif;
    font-weight: 300px; 
    font-size: 35px;
    margin: 40px;
    max-width: 400px;
}

.texto p{
    font-family: "Open sans", sans-serif;
    font-size: 17px;
    line-height: 160%;
    margin: 50px;
    max-width: 500px;
}

.menu li a.btn {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50px;
    color: hsl(257, 40%, 49%);
    margin-left: 3rem;
    padding: 15px 60px;
    background-color: #fff;
    
}

.btn:hover {
    color: #fff;
    border: 2px solid hsl(300, 69%, 71%);
    transition:0.3s ease-in-out; 
}

.footer {
    padding: 30px 80px;
}

.social {
    display: flex;
    justify-content: flex-end;
}

.social .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    border: 1.5px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    transition: 0.3s ease-in-out;
}

.social .social-icon:hover {
    color: hsl(300, 69%, 71%);
    border: 2px solid hsl(300, 69%, 71%);
}


